@model IEnumerable<work_02.Models.SavoyIceCream>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.ProductCategory.ProductName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Eja)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Price)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NewProduct)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Total)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SalesQuantity)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TotalAmount)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Return)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Remaining)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CreatedDate)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.ProductCategory.ProductName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Eja)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Price)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NewProduct)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Total)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SalesQuantity)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TotalAmount)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Return)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Remaining)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CreatedDate)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.SavoyIceCreamId }) |
            @Html.ActionLink("Details", "Details", new { id=item.SavoyIceCreamId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.SavoyIceCreamId })
        </td>
    </tr>
}

</table>
